# Get indices:

In [1]:
from datadownloader.OtherAsset import Index

dji = Index('DJI')
dji.get_history()

,Open,Adj Open,High,Adj High,Low,Adj Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,
1985-01-29,1277.72,1277.72,1295.49,1295.49,1266.89,1266.89,1292.62,1292.62,13560000,0,0
1985-01-30,1297.37,1297.37,1305.10,1305.10,1278.93,1278.93,1287.88,1287.88,16820000,0,0
1985-01-31,1283.24,1283.24,1293.40,1293.40,1272.64,1272.64,1286.77,1286.77,14070000,0,0
1985-02-01,1276.94,1276.94,1286.11,1286.11,1269.77,1269.77,1277.72,1277.72,10980000,0,0
1985-02-04,1272.08,1272.08,1294.94,1294.94,1268.99,1268.99,1290.08,1290.08,11630000,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2020-06-19,26213.10,26213.10,26451.44,26451.44,25759.66,25759.66,25871.46,25871.46,669390000,0,0
2020-06-22,25865.08,25865.08,26059.81,26059.81,25667.68,25667.68,26024.96,26024.96,351780000,0,0
2020-06-23,26159.39,26159.39,26314.97,26314.97,26105.97,26105.97,26156.10,26156.10,389980000,0,0
2020-06-24,25992.96,25992.96,25992.96,25992.96,25296.73,25296.73,25445.94,25445.94,450120000,0,0
2020-06-25,25365.22,25365.22,25769.61,25769.61,25209.79,25209.79,25745.60,25745.60,384560000,0,0

In [2]:
nikkei225 = Index('N225')
nikkei225.get_history()

,Open,Adj Open,High,Adj High,Low,Adj Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,
1965-01-05,1257.72,1257.72,1257.72,1257.72,1257.72,1257.72,1257.72,1257.72,0,0,0
1965-01-06,1263.99,1263.99,1263.99,1263.99,1263.99,1263.99,1263.99,1263.99,0,0,0
1965-01-07,1274.27,1274.27,1274.27,1274.27,1274.27,1274.27,1274.27,1274.27,0,0,0
1965-01-08,1286.43,1286.43,1286.43,1286.43,1286.43,1286.43,1286.43,1286.43,0,0,0
1965-01-12,1288.54,1288.54,1288.54,1288.54,1288.54,1288.54,1288.54,1288.54,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2020-06-22,22353.69,22353.69,22575.74,22575.74,22311.94,22311.94,22437.27,22437.27,54600,0,0
2020-06-23,22636.06,22636.06,22693.89,22693.89,22257.14,22257.14,22549.05,22549.05,0,0,0
2020-06-24,22541.01,22541.01,22663.29,22663.29,22479.86,22479.86,22534.32,22534.32,67000,0,0
2020-06-25,22287.87,22287.87,22423.41,22423.41,22165.14,22165.14,22259.79,22259.79,80800,0,0
2020-06-26,22424.37,22424.37,22589.14,22589.14,22408.27,22408.27,22512.08,22512.08,0,0,0

# Get commodity future:

In [3]:
from datadownloader.OtherAsset import Commodity

cme_gold_future = Commodity('Gold')
cme_gold_future.get_history()

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
1974-12-31,191.0,191.5,182.7,183.9,NaN,183.9,512.0,237.0
1975-01-02,184.0,184.8,173.9,175.1,NaN,175.1,294.0,209.0
1975-01-03,173.0,175.5,170.5,174.7,NaN,174.7,174.0,216.0
1975-01-06,172.0,174.5,167.5,174.4,NaN,174.4,197.0,225.0
1975-01-07,171.0,174.0,168.5,173.4,NaN,173.4,98.0,240.0
...,...,...,...,...,...,...,...,...
2020-06-19,1723.7,1750.7,1723.5,1746.2,21.1,1745.9,1329.0,143.0
2020-06-22,1755.2,1767.6,1750.5,1756.3,10.8,1756.7,1356.0,927.0
2020-06-23,1755.4,1776.3,1754.2,1776.3,15.4,1772.1,666.0,1612.0
2020-06-24,1778.3,1783.1,1764.5,1766.3,6.3,1765.8,961.0,1310.0
2020-06-25,1761.7,1764.8,1759.8,1764.3,3.7,1762.1,122.0,1816.0

In [4]:
cme_crude_future = Commodity('Crude Oil')
cme_crude_future.get_history()

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
1983-03-30,29.01,29.56,29.01,29.40,NaN,29.40,949.0,470.0
1983-03-31,29.40,29.60,29.25,29.29,NaN,29.29,521.0,523.0
1983-04-04,29.30,29.70,29.29,29.44,NaN,29.44,156.0,583.0
1983-04-05,29.50,29.80,29.50,29.71,NaN,29.71,175.0,623.0
1983-04-06,29.90,29.92,29.65,29.90,NaN,29.90,392.0,640.0
...,...,...,...,...,...,...,...,...
2020-06-19,38.85,40.50,38.40,39.43,0.91,39.75,61163.0,39340.0
2020-06-22,39.18,40.70,39.12,40.60,0.71,40.46,18811.0,19690.0
2020-06-23,40.68,41.63,39.76,40.02,0.36,40.37,367475.0,313893.0
2020-06-24,39.99,40.54,37.31,38.07,2.36,38.01,496732.0,312290.0
2020-06-25,38.05,39.23,37.08,39.04,0.71,38.72,447653.0,303081.0