In [1]:
from datadownloader.Stock import Stock

aapl = Stock('AAPL')

# Stock history price and current basic information:

In [2]:
# default is period='max' and interval='1d'
aapl.get_history()

,Open,Adj Open,High,Adj High,Low,Adj Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,
1980-12-12,0.51,0.41,0.52,0.41,0.51,0.41,0.51,0.41,117258400,0.0,0.0
1980-12-15,0.49,0.39,0.49,0.39,0.49,0.38,0.49,0.38,43971200,0.0,0.0
1980-12-16,0.45,0.36,0.45,0.36,0.45,0.36,0.45,0.36,26432000,0.0,0.0
1980-12-17,0.46,0.37,0.46,0.37,0.46,0.37,0.46,0.37,21610400,0.0,0.0
1980-12-18,0.48,0.38,0.48,0.38,0.48,0.38,0.48,0.38,18362400,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2020-06-19,354.64,354.64,356.56,356.56,345.15,345.15,349.72,349.72,66119000,0.0,0.0
2020-06-22,351.34,351.34,359.46,359.46,351.15,351.15,358.87,358.87,33861300,0.0,0.0
2020-06-23,364.00,364.00,372.38,372.38,362.27,362.27,366.53,366.53,53038900,0.0,0.0
2020-06-24,365.00,365.00,368.79,368.79,358.52,358.52,360.06,360.06,48155800,0.0,0.0
2020-06-25,360.70,360.70,365.00,365.00,357.57,357.57,364.84,364.84,34323200,0.0,0.0

In [3]:
aapl.get_history(period='5y', interval='1mo')

,Open,Adj Open,High,Adj High,Low,Adj Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,
2015-07-01,126.90,116.95,132.97,122.55,119.22,109.87,121.30,111.79,1.058281e+09,0.00,0
2015-08-01,121.50,111.98,122.57,112.96,92.00,84.79,112.92,104.07,1.786859e+09,0.00,0
2015-08-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.52,0
2015-09-01,110.15,101.97,116.89,108.21,107.36,99.39,110.30,102.11,1.206547e+09,0.00,0
2015-10-01,109.07,100.97,121.22,112.22,107.31,99.35,119.50,110.63,1.112512e+09,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...
2020-04-01,246.50,245.83,294.53,293.73,236.90,236.26,293.80,293.01,8.162224e+08,0.00,0
2020-05-01,286.25,285.48,324.24,323.36,285.85,285.08,317.94,317.08,7.016013e+08,0.00,0
2020-05-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.82,0
2020-06-01,317.75,317.75,372.38,372.38,317.21,317.21,364.84,364.84,6.916504e+08,0.00,0
2020-06-25,360.70,360.70,365.00,365.00,357.57,357.57,364.84,364.84,3.438063e+07,0.00,0

In [4]:
aapl.get_info()

                                                                   Value
Field
zip                                                                95014
sector                                                        Technology
fullTimeEmployees                                                 137000
longBusinessSummary    Apple Inc. designs, manufactures, and markets ...
city                                                           Cupertino
...                                                                  ...
sharesShortPriorMonth                                           33592445
category                                                            None
fiveYearAverageReturn                                               None
regularMarketPrice                                                 360.7
logo_url                             https://logo.clearbit.com/apple.com

[121 rows x 1 columns]

In [5]:
aapl.get_balance_sheet()

,Cash On Hand,Receivables,Inventory,Pre-Paid Expenses,Other Current Assets,Total Current Assets,"Property, Plant, And Equipment",Long-Term Investments,Goodwill And Intangible Assets,Other Long-Term Assets,...,Long Term Debt,Other Non-Current Liabilities,Total Long Term Liabilities,Total Liabilities,Common Stock Net,Retained Earnings (Accumulated Deficit),Comprehensive Income,Other Share Holders Equity,Share Holder Equity,Total Liabilities And Share Holders Equity
Date Time,,,,,,,,,,,,,,,,,,,,,
2005-03-31,7057.0,888.0,164.0,None,601.0,9007.0,742.0,NaN,113.0,249.0,...,NaN,373.0,373.0,3725.0,3195.0,3255.0,6.0,None,6386.0,10111.0
2005-06-30,7526.0,827.0,193.0,None,496.0,9376.0,764.0,NaN,109.0,239.0,...,NaN,544.0,544.0,3667.0,3299.0,3575.0,9.0,None,6821.0,10488.0
2005-09-30,8261.0,895.0,165.0,None,648.0,10300.0,817.0,NaN,96.0,303.0,...,NaN,601.0,601.0,4088.0,3564.0,3925.0,NaN,None,7428.0,11516.0
2005-12-31,8707.0,1331.0,244.0,None,1409.0,12162.0,855.0,NaN,93.0,1071.0,...,NaN,741.0,741.0,5801.0,3815.0,4570.0,-5.0,None,8380.0,14181.0
2006-03-31,8226.0,861.0,204.0,None,1536.0,11286.0,1005.0,NaN,110.0,1510.0,...,NaN,773.0,773.0,5229.0,4014.0,4673.0,-5.0,None,8682.0,13911.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-31,80092.0,26278.0,4884.0,None,12092.0,123346.0,38746.0,145319.0,NaN,34587.0,...,90201.0,52165.0,142366.0,236138.0,42801.0,64558.0,-1499.0,None,105860.0,341998.0
2019-06-30,94614.0,26474.0,3355.0,None,10530.0,134973.0,37636.0,115996.0,NaN,33634.0,...,84936.0,51143.0,136079.0,225783.0,43371.0,53724.0,-639.0,None,96456.0,322239.0
2019-09-30,100557.0,45804.0,4106.0,None,12352.0,162819.0,37378.0,105341.0,NaN,32978.0,...,91807.0,50503.0,142310.0,248028.0,45174.0,45898.0,-584.0,None,90488.0,338516.0
2019-12-31,107162.0,39946.0,4097.0,None,12026.0,163231.0,37031.0,99899.0,NaN,40457.0,...,93078.0,55848.0,148926.0,251087.0,45972.0,43977.0,-418.0,None,89531.0,340618.0
2020-03-31,94051.0,30677.0,3334.0,None,15691.0,143753.0,35889.0,98793.0,NaN,41965.0,...,89086.0,56795.0,145881.0,241975.0,48032.0,33182.0,-2789.0,None,78425.0,320400.0

In [6]:
aapl.get_income_statement()

,Revenue,Cost Of Goods Sold,Gross Profit,Research And Development Expenses,SG&A Expenses,Other Operating Income Or Expenses,Operating Expenses,Operating Income,Total Non-Operating Income/Expense,Pre-Tax Income,...,Other Income,Income From Continuous Operations,Income From Discontinued Operations,Net Income,EBITDA,EBIT,Basic Shares Outstanding,Shares Outstanding,Basic EPS,EPS - Earnings Per Share
Date Time,,,,,,,,,,,,,,,,,,,,,
2005-03-31,3243.0,2275.0,968.0,119.0,447.0,None,2841.0,402.0,33.0,435.0,...,None,290.0,None,290.0,443.0,402.0,5657.204,5999.077,0.0514,0.0486
2005-06-30,3520.0,2476.0,1044.0,145.0,473.0,None,3094.0,426.0,46.0,472.0,...,None,319.0,None,319.0,472.0,426.0,5705.644,6025.621,0.0557,0.0529
2005-09-30,3678.0,2644.0,1034.0,148.0,474.0,None,3266.0,412.0,60.0,472.0,...,None,424.0,None,424.0,463.0,412.0,5659.073,5998.146,0.0743,0.0700
2005-12-31,5749.0,4185.0,1564.0,182.0,632.0,None,4999.0,750.0,81.0,831.0,...,None,565.0,None,565.0,802.0,750.0,5815.467,6119.449,0.0971,0.0929
2006-03-31,4359.0,3062.0,1297.0,176.0,592.0,None,3830.0,529.0,76.0,605.0,...,None,410.0,None,410.0,579.0,529.0,5886.370,6149.759,0.0700,0.0671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-31,58015.0,36194.0,21821.0,3948.0,4458.0,None,44600.0,13415.0,378.0,13793.0,...,None,11561.0,None,11561.0,16455.0,13415.0,4674.071,4700.646,2.4700,2.4600
2019-06-30,53809.0,33582.0,20227.0,4257.0,4426.0,None,42265.0,11544.0,367.0,11911.0,...,None,10044.0,None,10044.0,14477.0,11544.0,4570.633,4601.380,2.2000,2.1800
2019-09-30,64040.0,39727.0,24313.0,4110.0,4578.0,None,48415.0,15625.0,502.0,16127.0,...,None,13686.0,None,13686.0,18804.0,15625.0,4617.834,4648.913,3.0800,3.0700
2019-12-31,91819.0,56602.0,35217.0,4451.0,5197.0,None,66250.0,25569.0,349.0,25918.0,...,None,22236.0,None,22236.0,28385.0,25569.0,4415.040,4454.604,5.0400,4.9900
2020-03-31,58313.0,35943.0,22370.0,4565.0,4952.0,None,45460.0,12853.0,282.0,13135.0,...,None,11249.0,None,11249.0,15639.0,12853.0,4360.101,4404.691,2.5800,2.5500

In [7]:
aapl.get_cash_flow_statement()

,Cash On Hand,Receivables,Inventory,Pre-Paid Expenses,Other Current Assets,Total Current Assets,"Property, Plant, And Equipment",Long-Term Investments,Goodwill And Intangible Assets,Other Long-Term Assets,...,Long Term Debt,Other Non-Current Liabilities,Total Long Term Liabilities,Total Liabilities,Common Stock Net,Retained Earnings (Accumulated Deficit),Comprehensive Income,Other Share Holders Equity,Share Holder Equity,Total Liabilities And Share Holders Equity
Date Time,,,,,,,,,,,,,,,,,,,,,
2005-03-31,7057.0,888.0,164.0,None,601.0,9007.0,742.0,NaN,113.0,249.0,...,NaN,373.0,373.0,3725.0,3195.0,3255.0,6.0,None,6386.0,10111.0
2005-06-30,7526.0,827.0,193.0,None,496.0,9376.0,764.0,NaN,109.0,239.0,...,NaN,544.0,544.0,3667.0,3299.0,3575.0,9.0,None,6821.0,10488.0
2005-09-30,8261.0,895.0,165.0,None,648.0,10300.0,817.0,NaN,96.0,303.0,...,NaN,601.0,601.0,4088.0,3564.0,3925.0,NaN,None,7428.0,11516.0
2005-12-31,8707.0,1331.0,244.0,None,1409.0,12162.0,855.0,NaN,93.0,1071.0,...,NaN,741.0,741.0,5801.0,3815.0,4570.0,-5.0,None,8380.0,14181.0
2006-03-31,8226.0,861.0,204.0,None,1536.0,11286.0,1005.0,NaN,110.0,1510.0,...,NaN,773.0,773.0,5229.0,4014.0,4673.0,-5.0,None,8682.0,13911.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-31,80092.0,26278.0,4884.0,None,12092.0,123346.0,38746.0,145319.0,NaN,34587.0,...,90201.0,52165.0,142366.0,236138.0,42801.0,64558.0,-1499.0,None,105860.0,341998.0
2019-06-30,94614.0,26474.0,3355.0,None,10530.0,134973.0,37636.0,115996.0,NaN,33634.0,...,84936.0,51143.0,136079.0,225783.0,43371.0,53724.0,-639.0,None,96456.0,322239.0
2019-09-30,100557.0,45804.0,4106.0,None,12352.0,162819.0,37378.0,105341.0,NaN,32978.0,...,91807.0,50503.0,142310.0,248028.0,45174.0,45898.0,-584.0,None,90488.0,338516.0
2019-12-31,107162.0,39946.0,4097.0,None,12026.0,163231.0,37031.0,99899.0,NaN,40457.0,...,93078.0,55848.0,148926.0,251087.0,45972.0,43977.0,-418.0,None,89531.0,340618.0
2020-03-31,94051.0,30677.0,3334.0,None,15691.0,143753.0,35889.0,98793.0,NaN,41965.0,...,89086.0,56795.0,145881.0,241975.0,48032.0,33182.0,-2789.0,None,78425.0,320400.0

In [8]:
aapl.get_financial_ratios(freq='A')

,Current Ratio,Long-term Debt / Capital,Debt/Equity Ratio,Gross Margin,Operating Margin,EBIT Margin,EBITDA Margin,Pre-Tax Profit Margin,Net Profit Margin,Asset Turnover,Inventory Turnover Ratio,Receiveable Turnover,Days Sales In Receivables,ROE - Return On Equity,Return On Tangible Equity,ROA - Return On Assets,ROI - Return On Investment,Book Value Per Share,Operating Cash Flow Per Share,Free Cash Flow Per Share
Date Time,,,,,,,,,,,,,,,,,,,,
2005-09-30,2.9538,NaN,NaN,29.0144,11.7938,11.7938,13.0787,12.9783,9.5327,1.2097,59.9333,15.5654,23.4495,17.8783,18.1124,11.5318,17.8783,1.2708,0.4226,0.3793
2006-09-30,2.2519,NaN,NaN,28.9827,12.7000,12.7000,13.8649,14.5897,10.2977,1.1226,50.8037,15.4273,23.6593,19.9219,20.2814,11.5606,19.9219,1.6677,0.3614,0.2544
2007-09-30,2.3659,NaN,NaN,33.1679,17.9307,17.9307,19.2611,20.3678,14.2200,0.9697,47.4740,15.0141,24.3106,24.0504,24.6214,13.7886,24.0504,2.3798,0.8787,0.7606
2008-09-30,2.6411,NaN,NaN,35.2005,22.2107,22.2107,23.5337,23.8644,16.3213,1.0365,47.7289,15.4794,23.5798,27.4432,28.0624,16.9169,27.4432,3.5857,1.5196,1.3468
2009-09-30,2.7425,NaN,NaN,40.1399,27.3628,27.3628,29.0735,28.1226,19.1936,0.9032,56.4462,8.4843,43.0207,26.0272,26.4052,17.3365,26.0272,5.0233,1.6001,1.4199
2010-09-30,2.0113,NaN,NaN,39.3775,28.1871,28.1871,29.7616,28.4247,21.4841,0.8675,37.6223,6.5725,55.5348,29.3214,30.0013,18.6385,29.3214,7.4536,2.8727,2.5630
2011-09-30,1.6084,NaN,NaN,40.4789,31.2151,31.2151,32.8908,31.5985,23.9466,0.9302,83.0296,9.2386,39.5080,33.8341,35.9115,22.2753,33.8341,11.7780,5.7239,5.0742
2012-09-30,1.4958,NaN,NaN,43.8712,35.2960,35.2960,37.3898,35.6295,26.6651,0.8889,111.0569,8.3730,43.5925,35.3041,36.9806,23.7033,35.3041,17.9802,7.6851,6.4316
2013-09-30,1.6786,0.1207,0.1373,37.6245,28.6695,28.6695,32.6230,29.3459,21.6705,0.8257,60.4342,8.2801,44.0815,29.9776,31.4425,17.8923,26.3592,19.6281,8.2289,6.9769
2014-09-30,1.0801,0.2063,0.3164,38.5880,28.7223,28.7223,33.0693,29.2585,21.6144,0.7885,53.1776,6.7157,54.3501,35.4201,38.4380,17.0420,28.1142,19.0153,9.7528,8.1896
2015-09-30,1.1088,0.3088,0.5390,40.0599,30.4773,30.4773,35.2938,31.0271,22.8458,0.8050,59.6377,7.7024,47.3876,44.7355,48.3878,18.3899,30.9201,21.3946,14.0281,12.0867
2016-09-30,1.3527,0.3703,0.6786,39.0760,27.8354,27.8354,32.7070,28.4605,21.1868,0.6703,61.6210,7.3599,49.5928,35.6237,38.1906,14.2024,22.4312,24.0339,12.0414,9.7262
2017-09-30,1.2761,0.4203,0.8630,38.4699,26.7604,26.7604,31.1913,27.9579,21.0924,0.6108,29.0521,6.4260,56.8007,36.0702,36.0702,12.8826,20.9082,26.1494,12.2294,9.8585
2018-09-30,1.1329,0.4666,1.0685,38.3437,26.6940,26.6940,30.7992,27.4489,22.4142,0.7262,41.3943,5.4209,67.3325,55.5601,55.5601,16.2775,29.6348,22.5336,15.4865,12.8239
2019-09-30,1.5401,0.5036,1.1940,37.8178,24.5720,24.5720,29.3946,25.2666,21.2381,0.7686,39.4014,5.6802,64.2588,61.0645,61.0645,16.3230,30.3113,20.3653,14.9263,12.6688